@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box;
    content: ''; }

a, li, ul, nav, p, h1, h2 {
  text-decoration: none;
  text-transform: none;
  font-style: none;
  font-variant: none;
  list-style: none; }

a, p, h1, h2, h3, cite, em, b {
  font-family: helvetica, arial, sans-serif;
  font-variant: none;
  text-decoration: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

textarea {
  resize: none; }

input, select {
  vertical-align: middle; }

.nobr {
  white-space: nowrap; }

a.nobr {
  display: inline-block; }

._f_w {
  width: 100%; }

._f_h {
  height: 100%; }

._hide {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

/* resolution */
._trs, a, button._btn, a._btn, .flash-box, .flash-box button.close, nav.main-nav ul.link-section li, main.main-contant ul.article-list li.article-fiche a figure figcaption, .logo-menu:hover, nav.administration--nav ul li.admin-nav-link a, table td.delete-confirm, table td.edit-input, .login-to-admin:hover, .input_ajout_article:hover {
  transition: all 200ms ease-in-out; }

@font-face {
  font-family: 'latobold';
  src: url("../font/lato/Lato-Bold-webfont.eot");
  src: url("../font/lato/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/Lato-Bold-webfont.woff2") format("woff2"), url("../font/lato/Lato-Bold-webfont.woff") format("woff"), url("../font/lato/Lato-Bold-webfont.ttf") format("truetype"), url("../font/lato/Lato-Bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../font/lato/Lato-Light-webfont.eot");
  src: url("../font/lato/Lato-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/Lato-Light-webfont.woff2") format("woff2"), url("../font/lato/Lato-Light-webfont.woff") format("woff"), url("../font/lato/Lato-Light-webfont.ttf") format("truetype"), url("../font/lato/Lato-Light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../font/lato/Lato-Regular-webfont.eot");
  src: url("../font/lato/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/Lato-Regular-webfont.woff2") format("woff2"), url("../font/lato/Lato-Regular-webfont.woff") format("woff"), url("../font/lato/Lato-Regular-webfont.ttf") format("truetype"), url("../font/lato/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flat-UI-Icons';
  src: url("../font/glyphicons/flat-ui-icons-regular.eot");
  src: url("../font/glyphicons/flat-ui-icons-regular.eot?#iefix") format("embedded-opentype"), url("../font/glyphicons/flat-ui-icons-regular.woff") format("woff"), url("../font/glyphicons/flat-ui-icons-regular.ttf") format("truetype"), url("../font/glyphicons/flat-ui-icons-regular.svg#flat-ui-icons-regular") format("svg"); }

[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fui-triangle-up:before {
  content: "\e600"; }

.fui-triangle-down:before {
  content: "\e601"; }

.fui-triangle-up-small:before {
  content: "\e602"; }

.fui-triangle-down-small:before {
  content: "\e603"; }

.fui-triangle-left-large:before {
  content: "\e604"; }

.fui-triangle-right-large:before {
  content: "\e605"; }

.fui-arrow-left:before {
  content: "\e606"; }

.fui-arrow-right:before {
  content: "\e607"; }

.fui-plus:before {
  content: "\e608"; }

.fui-cross:before {
  content: "\e609"; }

.fui-check:before {
  content: "\e60a"; }

.fui-radio-unchecked:before {
  content: "\e60b"; }

.fui-radio-checked:before {
  content: "\e60c"; }

.fui-checkbox-unchecked:before {
  content: "\e60d"; }

.fui-checkbox-checked:before {
  content: "\e60e"; }

.fui-info-circle:before {
  content: "\e60f"; }

.fui-alert-circle:before {
  content: "\e610"; }

.fui-question-circle:before {
  content: "\e611"; }

.fui-check-circle:before {
  content: "\e612"; }

.fui-cross-circle:before {
  content: "\e613"; }

.fui-plus-circle:before {
  content: "\e614"; }

.fui-pause:before {
  content: "\e615"; }

.fui-play:before {
  content: "\e616"; }

.fui-volume:before {
  content: "\e617"; }

.fui-mute:before {
  content: "\e618"; }

.fui-resize:before {
  content: "\e619"; }

.fui-list:before {
  content: "\e61a"; }

.fui-list-thumbnailed:before {
  content: "\e61b"; }

.fui-list-small-thumbnails:before {
  content: "\e61c"; }

.fui-list-large-thumbnails:before {
  content: "\e61d"; }

.fui-list-numbered:before {
  content: "\e61e"; }

.fui-list-columned:before {
  content: "\e61f"; }

.fui-list-bulleted:before {
  content: "\e620"; }

.fui-window:before {
  content: "\e621"; }

.fui-windows:before {
  content: "\e622"; }

.fui-loop:before {
  content: "\e623"; }

.fui-cmd:before {
  content: "\e624"; }

.fui-mic:before {
  content: "\e625"; }

.fui-heart:before {
  content: "\e626"; }

.fui-location:before {
  content: "\e627"; }

.fui-new:before {
  content: "\e628"; }

.fui-video:before {
  content: "\e629"; }

.fui-photo:before {
  content: "\e62a"; }

.fui-time:before {
  content: "\e62b"; }

.fui-eye:before {
  content: "\e62c"; }

.fui-chat:before {
  content: "\e62d"; }

.fui-home:before {
  content: "\e62e"; }

.fui-upload:before {
  content: "\e62f"; }

.fui-search:before {
  content: "\e630"; }

.fui-user:before {
  content: "\e631"; }

.fui-mail:before {
  content: "\e632"; }

.fui-skype:before {
  content: "\e64b"; }

.fui-lock:before {
  content: "\e633"; }

.fui-power:before {
  content: "\e634"; }

.fui-calendar:before {
  content: "\e635"; }

.fui-gear:before {
  content: "\e636"; }

.fui-bookmark:before {
  content: "\e637"; }

.fui-exit:before {
  content: "\e638"; }

.fui-trash:before {
  content: "\e639"; }

.fui-folder:before {
  content: "\e63a"; }

.fui-bubble:before {
  content: "\e63b"; }

.fui-export:before {
  content: "\e63c"; }

.fui-calendar-solid:before {
  content: "\e63d"; }

.fui-star:before {
  content: "\e63e"; }

.fui-star-2:before {
  content: "\e63f"; }

.fui-credit-card:before {
  content: "\e640"; }

.fui-clip:before {
  content: "\e641"; }

.fui-link:before {
  content: "\e642"; }

.fui-tag:before {
  content: "\e643"; }

.fui-document:before {
  content: "\e644"; }

.fui-image:before {
  content: "\e645"; }

.fui-facebook:before {
  content: "\e646"; }

.fui-youtube:before {
  content: "\e647"; }

.fui-vimeo:before {
  content: "\e648"; }

.fui-twitter:before {
  content: "\e649"; }

.fui-spotify:before {
  content: "\e64a"; }

.fui-pinterest:before {
  content: "\e64c"; }

.fui-android:before {
  content: "\e65f"; }

.fui-path:before {
  content: "\e64d"; }

.fui-linkedin:before {
  content: "\e64e"; }

.fui-google-plus:before {
  content: "\e64f"; }

.fui-dribbble:before {
  content: "\e650"; }

.fui-behance:before {
  content: "\e651"; }

.fui-stumbleupon:before {
  content: "\e652"; }

.fui-yelp:before {
  content: "\e653"; }

.fui-wordpress:before {
  content: "\e654"; }

.fui-windows-8:before {
  content: "\e655"; }

.fui-vine:before {
  content: "\e656"; }

.fui-tumblr:before {
  content: "\e657"; }

.fui-paypal:before {
  content: "\e658"; }

.fui-lastfm:before {
  content: "\e659"; }

.fui-instagram:before {
  content: "\e65a"; }

.fui-html5:before {
  content: "\e65b"; }

.fui-github:before {
  content: "\e65c"; }

.fui-foursquare:before {
  content: "\e65d"; }

.fui-dropbox:before {
  content: "\e65e"; }

.fui-apple:before {
  content: "\e660"; }

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.row {
  width: 100%;
  clear: both;
  zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both;
    line-height: 0;
    visibility: hidden; }
  .row .col:first-child {
    padding-left: 0 !important; }
  .row .col:last-child {
    padding-right: 0 !important; }
  .row .col-1 {
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 960px) {
      .row .col-1.ms {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
    @media only screen and (max-width: 800px) {
      .row .col-1.ms {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
  .row .col-2 {
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 960px) {
      .row .col-2.ms {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
    @media only screen and (max-width: 800px) {
      .row .col-2.ms {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
  .row .col-3 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 960px) {
      .row .col-3.ms {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
    @media only screen and (max-width: 800px) {
      .row .col-3.ms {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
  .row .col-4 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 960px) {
      .row .col-4.ms {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
    @media only screen and (max-width: 800px) {
      .row .col-4.ms {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
  .row .col-5 {
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 960px) {
      .row .col-5.ms {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
    @media only screen and (max-width: 800px) {
      .row .col-5.ms {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.5px;
        padding-right: 2.5px; } }
  .row .col-6 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-7 {
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-8 {
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-9 {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-10 {
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-11 {
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row .col-12 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-bottom: 5px; }
  .row *.pull-l {
    float: left; }
  .row *.pull-r {
    float: right !important; }

thead tr, tbody tr {
  width: 100%;
  max-width: none !important; }

._radius, input, textarea, select, .__cais._upload-file, .__cais._select-option, .__cais._select-option .option-list {
  border-radius: 5px; }

html, body {
  height: 100%; }

body, p, input, button, select, textarea {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-family: 'lato', 'helvetica', 'arial', 'sans-serif';
  color: #333; }

article p, form {
  max-width: 600px;
  max-width: 37.5rem;
  margin: 20px auto; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 51.2pxpx;
  font-size: 3.2pxrem;
  line-height: 51.2px;
  line-height: 3.2rem; }

h2 {
  font-size: 32pxpx;
  font-size: 2pxrem;
  line-height: 32px;
  line-height: 2rem; }

small {
  font-size: 12pxpx;
  font-size: 0.75pxrem;
  line-height: 12px;
  line-height: 0.75rem; }

input, textarea, select {
  width: 100%;
  height: 40px;
  border: 2px solid #333;
  line-height: 28px;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: transparent; }

input._danger, textarea._danger, label._danger, select._danger {
  border-color: #d32f2f !important; }

textarea {
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px; }

button._btn, a._btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #333;
  color: #eceff1;
  text-align: center;
  text-transform: capitalize;
  display: block;
  line-height: 36px;
  line-height: 2.25rem; }
  button._btn:hover, a._btn:hover {
    background-color: transparent;
    color: #333; }
  button._btn._revers, a._btn._revers {
    background-color: transparent;
    color: #333; }
    button._btn._revers:hover, a._btn._revers:hover {
      background-color: #333;
      color: #000; }
  button._btn .danger, a._btn .danger {
    background-color: #d32f2f;
    color: #eceff1; }

.wrap {
  width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .wrap {
      width: 100%;
      padding-left: 8px;
      padding-right: 8px; } }

@media (max-width: 600px) {
  .__desktop {
    display: none; } }

.__mobil {
  display: none; }
  @media (max-width: 600px) {
    .__mobil {
      display: block; } }

.flash-box {
  width: 100%;
  height: auto;
  min-height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  z-index: 4000; }
  .flash-box::first-letter {
    text-transform: uppercase; }
  .flash-box._danger {
    background-color: #d32f2f; }
  .flash-box._success {
    background-color: #388e3c; }
  .flash-box span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px; }
  .flash-box button.close {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    cursor: pointer;
    margin: auto;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    line-height: 1.875rem; }
    .flash-box button.close:hover {
      opacity: 0.4;
      filter: alpha(opacity=40); }

table {
  width: 100%;
  height: auto; }
  table thead, table tbody {
    width: 100%;
    height: auto; }

.__cais._upload-file {
  position: relative;
  width: auto;
  height: 40px;
  border: 2px solid #333;
  float: left;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 20px 0; }
  .__cais._upload-file i {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 10px;
    margin: auto;
    display: block; }
  .__cais._upload-file p {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    text-align: center; }
  .__cais._upload-file input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0); }

.__cais._select-option {
  width: auto;
  height: 40px;
  border: 2px solid #333;
  position: relative;
  float: left;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.6); }
  .__cais._select-option::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    display: block;
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: auto;
    margin: auto; }
  .__cais._select-option:last-child {
    margin-right: 0; }
  .__cais._select-option select {
    display: none; }
  .__cais._select-option .option-list {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: auto;
    width: absolute;
    height: 0; }
    .__cais._select-option .option-list button.open-dropdown {
      border: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      text-align: left;
      font-size: 1em;
      color: #333;
      cursor: pointer;
      padding-left: 20px; }
    .__cais._select-option .option-list ul.ul--list {
      width: 100%;
      height: 100%;
      background-color: #212121; }
      .__cais._select-option .option-list ul.ul--list li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        color: #333;
        font-size: 1.1em;
        cursor: pointer; }
        .__cais._select-option .option-list ul.ul--list li:hover, .__cais._select-option .option-list ul.ul--list li.selected {
          background-color: #e0e0e0;
          color: #000; }
        .__cais._select-option .option-list ul.ul--list li.not-available {
          color: #888;
          cursor: default; }
          .__cais._select-option .option-list ul.ul--list li.not-available:hover {
            background-color: #212121;
            color: #888; }
  .__cais._select-option.open {
    z-index: 10;
    border-color: transparent; }
    .__cais._select-option.open .option-list {
      border: 2px solid #333; }
      .__cais._select-option.open .option-list button.open-dropdown {
        cursor: default; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

nav.main-nav {
  width: 100%;
  height: 60px;
  background-color: #bf360c; }
  nav.main-nav .logo-section {
    float: left;
    width: 80px;
    height: 100%; }
  nav.main-nav ul.link-section {
    float: left;
    width: auto;
    height: 100%; }
    nav.main-nav ul.link-section li {
      width: auto;
      height: 100%;
      float: left;
      border-bottom: 2px solid transparent;
      padding-top: autopx;
      padding-right: 10px;
      padding-bottom: autopx;
      padding-left: 10px;
      padding-top: auto/16rem;
      padding-right: 0.625rem;
      padding-bottom: auto/16rem;
      padding-left: 0.625rem; }
      nav.main-nav ul.link-section li a {
        line-height: 60px;
        line-height: 3.75rem;
        display: block;
        width: 100%;
        height: 100%;
        color: #f1f3f9; }
      nav.main-nav ul.link-section li:hover {
        border-color: #eceff1; }
      nav.main-nav ul.link-section li.selected {
        border-width: 4px; }
  nav.main-nav .search-section {
    width: 100px;
    height: 100%;
    float: right; }
  nav.main-nav::after {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0; }
  @media only screen and (max-width: 600px) {
    nav.main-nav {
      display: none; }
      nav.main-nav .logo-section {
        color: red; } }

header {
  overflow: hidden; }
  header.home-header, header.article-header {
    width: 100%;
    height: 400px; }
    header.home-header .main-logo, header.article-header .main-logo {
      width: 120px;
      height: 120px; }
      header.home-header .main-logo figure, header.article-header .main-logo figure {
        display: block;
        width: 100%; }
        header.home-header .main-logo figure img, header.article-header .main-logo figure img {
          display: block;
          width: 100%;
          position: relative;
          top: 40px; }
  header.home-header, header.home-header .background-img-header {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover; }

main.main-contant ul.article-list {
  padding: 40px 0; }
  main.main-contant ul.article-list li.article-fiche {
    height: auto;
    position: relative; }
    main.main-contant ul.article-list li.article-fiche .owl-stage-outer {
      overflow: hidden; }
      main.main-contant ul.article-list li.article-fiche .owl-stage-outer .owl-item {
        float: left; }
    main.main-contant ul.article-list li.article-fiche .owl-nav, main.main-contant ul.article-list li.article-fiche .owl-dots {
      display: none; }
    main.main-contant ul.article-list li.article-fiche a {
      display: block;
      width: 100%;
      height: auto; }
      main.main-contant ul.article-list li.article-fiche a figure {
        display: block;
        width: 100%;
        height: auto; }
        main.main-contant ul.article-list li.article-fiche a figure .img-block {
          width: 100%;
          height: auto; }
          main.main-contant ul.article-list li.article-fiche a figure .img-block img.image-article {
            display: block;
            width: 100%;
            max-width: 100% !important; }
        main.main-contant ul.article-list li.article-fiche a figure figcaption {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          padding: 10px;
          opacity: 0;
          filter: alpha(opacity=0); }
          main.main-contant ul.article-list li.article-fiche a figure figcaption ul.block-note {
            float: right;
            position: relative; }
            main.main-contant ul.article-list li.article-fiche a figure figcaption ul.block-note li {
              float: left; }
              main.main-contant ul.article-list li.article-fiche a figure figcaption ul.block-note li i {
                background-image: url("../img/etoile_gris.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: initial;
                background-size: cover;
                display: block;
                width: 25px;
                height: 25px;
                position: relative;
                margin-top: 10px; }
                main.main-contant ul.article-list li.article-fiche a figure figcaption ul.block-note li i.star {
                  background-image: url("../img/etoile.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-attachment: initial;
                  background-size: cover; }
    main.main-contant ul.article-list li.article-fiche:hover a figure figcaption {
      height: 110px;
      position: relative;
      bottom: 0;
      opacity: 1;
      filter: alpha(opacity=100);
      padding-bottom: 5px;
      background-color: #eceff1;
      color: #bf360c;
      display: block; }
      main.main-contant ul.article-list li.article-fiche:hover a figure figcaption h5 {
        font-size: 30px;
        text-align: center;
        padding: 5px; }
      main.main-contant ul.article-list li.article-fiche:hover a figure figcaption p {
        font-size: 20px; }

h1 {
  color: #bf360c;
  font-size: 60px;
  text-align: center; }

.main-logo figcaption {
  font-size: 30px;
  text-align: center;
  color: white;
  top: 50px;
  position: relative; }

.logo-menu {
  display: block;
  text-indent: -9999;
  width: 100%;
  height: 100%;
  background: url(../img/logo_flat_hover.svg) center center no-repeat; }
  .logo-menu:hover {
    background: url(../img/logo_flat.svg) center center no-repeat; }

.down {
  text-align: center;
  font-size: 15px; }
  .down a:hover {
    color: #bf360c; }

.nav-contact {
  width: 150px;
  height: 50px;
  position: absolute;
  top: auto;
  right: 40px;
  bottom: 35px;
  left: auto;
  color: white;
  display: block;
  text-align: center;
  background-color: #932611;
  line-height: 50px;
  line-height: 3.125rem; }
  .nav-contact:hover {
    background-color: #771C10; }

map p {
  color: #bf360c;
  width: 75%;
  text-align: right;
  margin-top: 40px; }

header.article-header figure {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  header.article-header figure img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto; }

p {
  color: #333; }

.container_article {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 60px; }
  .container_article article {
    margin-bottom: 60px; }
  .container_article a {
    float: right;
    margin: 40px; }
    .container_article a:hover {
      color: #bf360c; }

.owl-carousel.article_slider {
  width: 100%;
  height: 400px;
  position: relative; }
  .owl-carousel.article_slider .owl-stage-outer {
    height: 100%; }
    .owl-carousel.article_slider .owl-stage-outer .owl-stage {
      height: 100%; }
      .owl-carousel.article_slider .owl-stage-outer .owl-stage .owl-item {
        width: 100%;
        height: 100%; }
        .owl-carousel.article_slider .owl-stage-outer .owl-stage .owl-item .img-block {
          width: auto;
          height: 100%; }
          .owl-carousel.article_slider .owl-stage-outer .owl-stage .owl-item .img-block img {
            width: auto;
            height: 100%;
            display: block;
            margin: 0 auto; }
  .owl-carousel.article_slider .owl-nav {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 50px; }
    .owl-carousel.article_slider .owl-nav .owl-prev, .owl-carousel.article_slider .owl-nav .owl-next {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .owl-carousel.article_slider .owl-nav .owl-prev {
      left: 0;
      right: auto; }
    .owl-carousel.article_slider .owl-nav .owl-next {
      left: auto;
      right: 0; }

.content-map {
  position: relative; }
  .content-map map.google-map {
    width: 100%;
    height: 400px;
    margin: 40px 0;
    position: relative; }
    .content-map map.google-map iframe, .content-map map.google-map figcaption {
      width: 60%;
      display: block;
      margin: 0 auto; }
    .content-map map.google-map iframe {
      height: 380px; }
    .content-map map.google-map figcaption {
      height: 20px;
      text-align: left; }
  .content-map .voile-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
    z-index: 10; }
  .content-map.cach .voile-map {
    display: block; }

.article_accueil {
  color: #eceff1;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  margin-left: 10px;
  height: 60px;
  width: 80px; }
  .article_accueil:hover {
    border-bottom: solid 2px white; }

.article-content {
  margin-top: 50px; }

map p {
  width: 100%;
  margin-top: 40px;
  color: #bf360c; }

.article-header h1 {
  position: relative;
  background-color: #bf360c;
  color: white;
  bottom: 300px;
  width: 30%;
  padding: 20px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center; }

.note-article {
  width: 100%;
  height: 40px;
  z-index: 10;
  margin: 10px auto 0; }
  .note-article ul.block-note {
    width: 165px;
    height: 100%;
    margin: 0 auto; }
    .note-article ul.block-note li {
      float: left;
      margin-right: 10px; }
      .note-article ul.block-note li:last-child {
        margin-right: 0; }
      .note-article ul.block-note li i {
        background-image: url("../img/etoile_gris.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-size: cover;
        display: block;
        width: 25px;
        height: 25px;
        position: relative;
        margin-top: 10px; }
        .note-article ul.block-note li i.star {
          background-image: url("../img/etoile.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: initial;
          background-size: cover; }

form.addNote li {
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px; }
  form.addNote li input, form.addNote li label i {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  form.addNote li input[type='checkbox'] {
    display: none; }
  form.addNote li label i {
    background-image: url("../img/etoile_gris.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    display: block;
    width: 25px;
    height: 25px;
    position: relative; }
  form.addNote li.star i, form.addNote li input[type='checkbox']:checked + label i {
    background-image: url("../img/etoile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover; }
  form.addNote li input[type='checkbox']:checked + label i {
    opacity: 0.6;
    filter: alpha(opacity=60); }
  form.addNote li.star input[type='checkbox']:checked + label i {
    opacity: 1;
    filter: alpha(opacity=100); }
  form.addNote li:last-child {
    margin-right: 0; }

body.admin-body {
  background-color: #e0e0e0; }

nav.administration--nav {
  width: 100%;
  height: 100%;
  background-color: #eceff1; }
  nav.administration--nav ul li.admin-nav-link a {
    display: block;
    padding: 10px;
    line-height: 40px;
    line-height: 2.5rem;
    width: 100%;
    height: 60px;
    border-right: 0px solid #666; }
    nav.administration--nav ul li.admin-nav-link a:hover, nav.administration--nav ul li.admin-nav-link a.active {
      background-color: #e0e0e0;
      border-width: 2px; }
      nav.administration--nav ul li.admin-nav-link a:hover.logout, nav.administration--nav ul li.admin-nav-link a.active.logout {
        background-color: #d32f2f;
        color: #f1f3f9;
        border-color: #f1f3f9; }

output#list-show--up_img {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 0; }
  output#list-show--up_img span {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: block; }
    output#list-show--up_img span img {
      display: block;
      width: 100%; }

.view-admin {
  padding-top: 100px; }

table td, table tr {
  position: relative;
  display: block; }

table td.delete-confirm, table td.edit-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }
  table td.delete-confirm form, table td.edit-input form {
    padding: 0;
    margin: 0; }
  table td.delete-confirm.active, table td.edit-input.active {
    height: auto;
    opacity: 1;
    filter: alpha(opacity=100); }

table td.delete-confirm {
  background-color: #ef5350; }

table td.edit-input {
  background-color: #e0e0e0; }
  table td.edit-input form.row {
    max-width: none; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 30px;
  margin-top: 30px;
  padding-bottom: 30px; }

.legend_auth_admin {
  text-align: center;
  font-size: 30px;
  margin: 40px;
  line-height: 40px; }

.password_auth_admin {
  line-height: 40px; }

.login-to-admin {
  float: right;
  display: block;
  padding: 20px;
  border-radius: 5px;
  height: 60px;
  width: 200px;
  background-color: #333;
  color: #e0e0e0; }
  .login-to-admin:hover {
    color: #333;
    border: solid 2px #333;
    background-color: #e0e0e0; }

.ajout_article_admin_form {
  position: relative;
  bottom: 30px;
  line-height: 30px; }
  .ajout_article_admin_form h2 {
    line-height: 30px; }

.input_ajout_article {
  color: #eceff1;
  background-color: #212121; }
  .input_ajout_article:hover {
    color: #eceff1;
    background-color: #bf360c; }

.tag_nom_du_tag {
  font-size: 30px;
  padding-bottom: 40px; }

.p_sup, .line_height_tag {
  line-height: 40px; }

.h2_img {
  margin-bottom: 10px; }

.thead_list_article_admin {
  padding: 20px 0 20px 0;
  margin: 20px 0 30px 0;
  background-color: #212121;
  color: #eceff1; }

ul.list-img-to-delete li {
  width: 25%;
  float: left;
  position: relative; }
  ul.list-img-to-delete li label span, ul.list-img-to-delete li img {
    display: block; }
  ul.list-img-to-delete li input[type='checkbox'], ul.list-img-to-delete li label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  ul.list-img-to-delete li input[type='checkbox'] {
    opacity: 0;
    filter: alpha(opacity=0); }
  ul.list-img-to-delete li label span {
    width: 100%;
    height: 100%;
    border: 3px solid transparent; }
  ul.list-img-to-delete li input[type='checkbox']:checked + label span {
    border-color: #d32f2f;
    background: rgba(255, 255, 255, 0.4); }
  ul.list-img-to-delete li img {
    width: 100%; }

.logout_admin {
  top: 30px;
  position: relative; }
  .logout_admin:hover {
    color: #bf360c; }

footer .sub, footer .down {
  padding: 10px 0;
  width: 100%; }


.admin_input{

  width: 30px;
  margin-bottom: 0;
  height: 30px;

}
.btn_hover:hover{
    background: #333;
    color: #E0E0E0;
}
/*# sourceMappingURL=app.css.map */
