
@media (max-width: 1500px){


	body{
		margin: 0 auto;
		}
	#header{
		width: 100%;
		height: 600px;
		background: lightgray; 

	}
	h1{
		text-align: center;
		font-size: 60px;
		font-family: "recherche";
		color: #323433;
	}
	h2{
		text-align: center;
		font-size: 50px;
		font-family: "recherche";
		color: #323433;
	}

	.logo{
		height: 300px;
		width: 300px;
		margin: 0 auto;
		position: relative;
		top: 100px;
		display: block;
		text-indent: -9999px;
		background:url(../img/logo.svg) no-repeat center center;
		background-size: cover;
	}

	.cake{
		display: inline-block;
		text-decoration:none;
		background-color: #22B573;
		color: white; 
		border-radius: 25px;
		height: 60px;
		width: 200px;
		text-align: center; 
		line-height: 60px;
		position: relative;
		top: 200px;
		left: 10%;
		font-family: "blenny", sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 50px;
	}
		.cake:hover{
			color: #22B573;
			background-color: white;   
			    -webkit-transition: all ease .2s;
                -moz-transition: all ease .2s;
                -ms-transition: all ease .2s;
                transition: all ease .2s;
		}
	.roses{
		display: inline-block;
		text-decoration:none;
		background-color: #C1272D;
		color: white;
		border-radius: 25px;
		height: 60px;
		width: 200px;
		text-align: center;
		line-height: 80px;
		position: relative;
		left:64%;
		top: 200px;
		font-family: "recherche";
		font-size: 55px;
	}
		.roses:hover{
			background-color: white;
			color: #C1272D;   
			    -webkit-transition: all ease .2s;
                -moz-transition: all ease .2s;
                -ms-transition: all ease .2s;
                transition: all ease .2s;
		}

	.switch_categorie{

		position: fixed;
		height: 100px;
		width: 100px;
		display: block;
		right: 50px;
		bottom: 50px;
		text-indent: -9999px;
		background: url(../img/logo_cake.svg) no-repeat center center;
		background-size: cover;




		}

	.info p, .description p{
		bottom: 40px;
		position: relative;
		width: 70%;
		margin: 0 auto;
		font-size: 20px;
		font-family: lato;
		text-align: center;
		color: #323433;
	}

	form{
		width: 50%;
		top: 50px;
		position: relative;
		margin: 0 auto;
		background: #323433;
		height: 500px;
		border:20px;
	}

	label, input{
		font-family: "lato";
		color: #323433;

	}
	label{
		margin-left: 10px;
		font-size: 25px;
		color: white;
		margin-top: 20px;
	}
	footer{
		height: 700px;
		background-color: darkgrey;
	}
	footer p{

		position: relative;
		text-align: center;
		color: #323433;
	}
	textarea{
		resize: none;
	}

	.produit{
		width: 80%;
		margin: 0 auto;
	}
	.tag{
		background: #323433;
		margin: 0 auto;
		height: 50px;
		width: 56.5%;
	}
	.tag li{
		display: block;
		position: relative;
		float: left;
		font-family: "lato";
		font-size: 15px;
		text-align: center;
		margin: 0 auto;
		width: 18%;
		height: 50px;
		line-height: 50px;
		margin-right: 5px;

	}
	.tag li a{
		color: white;
		display: block;
		background-color: #323433;
		text-decoration: none;
		margin: 0 auto;
	}

	.tag li a:hover{
		border-bottom: 2px solid #323433;
		background-color: white ;
		color: #323433;
	}



	.img_produit{
		width: 60%;
		margin: 0 auto;
		height: 800px;
	}
	.img_big{
		top: 20px;
		position: relative;
		background-color:#323433;
		height: 670px;
		width: 670px;
		margin: 0 auto;
		text-indent: -9999px;

	}
	.img_small{
		position: relative;
		top: 50px;
		height: 130px;
		width: 18.6%;
		margin-right: 11px;
		background-color: #323433;
		float: left;
		text-indent: -9999px;
	}
	.img_small:last-child{
	margin-right: 0;
	}

	input{
		width: 200px;
		height: 40px;
		margin: 12px 11px 0px 11px;
		border-radius: 5px;
		border-style: none;
		text-indent: 20px;
	}

	textarea{
		font-family: "lato";
		width: 96%;
		position: relative;
		display: block;
		height: 100px;
		margin: 0 auto;
		top: 10px;
		line-height: 30px;
		border-radius: 5px;
		border-style: none;
		text-indent: 20px;
	}
	.message{
		position: relative;
		top: 10px;
		float: left;
		width: 100%;
	}
	.sujet{
		width: 96%;
	}
	.btn_envoyer{
		position: relative;
		top: 30px;
		float: right;
		color: #323433;
		font-family: "lato";
		font-size: 20px;
	}
	.btn_envoyer:hover{
		color: white;
		background-color: #212121;
		  -webkit-transition: all ease .2s;
                -moz-transition: all ease .2s;
                -ms-transition: all ease .2s;
                transition: all ease .2s;
	}
}
.left{
	width: 50%;
	float: left;
	margin-top: 10px;
}

.right{
	width: 50%;
	float: right;
	margin-top: 10px;
}

.input_form{
	width: 80%;
}

.error{
	list-style-type: none;
	font-style: 20px;
	font-family: "lato";
	color: darkred;
	text-align: center;

}
span{
	top: 20px;
	position: relative;
}
 /*END
 MEDIA QUERIES */

@media (max-width: 1350px){


	.roses{
		left: 60%;
	}

	.img_big{
		width: 400px;
		height: 400px;
	}
	.img_small{
		width: 15%;
		height: 100px;
		left: 60px;
	}
	.img_produit{
		height: 550px;
	}

}

@media (max-width: 1200px){

	body{
		background: red;
	}


}

@media (max-width: 1000px){


	.roses{
		left: 50%;
	}
	.img_small{
		left: 35px;
	}


}

@media (max-width: 800px){

	.produit {
		height: 2800px;
	}
	.img_produit {
		height: 2200px;
		width: 100%;
	}
	.img_big{

		width: 350px;
		height: 350px;
	}
	.img_small{
		float: none;
		width: 350px;
		height: 350px;
		margin: 10px auto;
		left: 0;
		top: 20px;

	}
	.img_small:last-child{
		margin: 0 auto;


	}
	.roses{
		left: 30%; 
	}


}

@media (max-width: 600px){

footer{
	display: none;
}
.tag{
	display: none
}
.switch_categorie{
	display: none;
}
.roses{
	left: 20%;
}

}





