<html lang="fr">
	<head>
		<meta charset="UTF-8">
		{% include 'parts/meta.html' %}
		<title>{{ PageTitle }} | Culturama</title>
		<link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css" />
		<script src='{{ base_url() }}/assets/js/lib/jquery-3.2.0.min.js'></script>
	</head>
	<body>
		{% if errors %}
			<div class="flash-box _danger">
				<div class="wrap">
					{% for error in errors %}
					    <span>{{ error }}</span>
					{% endfor %}
				</div>
				<button class="close">x</button>
			</div>
		{% elseif flashs %}
			<div class="flash-box _success">
				<div class="wrap">
					{% for flash in flashs %}
					    <span>{{ flash }}</span>
					{% endfor %}
				</div>
				<button class="close">x</button>
			</div>
		{% endif %}

		{% block header %}{% endblock %}

		{% block nav %}
		    <nav class="main-nav">
				<div class="wrap">
					<div class="logo-section">
						<a  href="/" title="Logo_favincon" 
							class="logo-menu" id='logo-accueil'>LOGO ACCUEIL</a>
					</div>
					<ul class="link-section">
						<li><a href="/">Tous</a></li>
						{% for tag in tags %}
							<li><a href="{{ path_for('filter.tag', {'tag': tag.tagID }) }}">{{ tag.t_name|raw|capitalize }}</a></li>
						{% endfor %}
					</ul>
					
					<a href="#footer" title="contact" class="nav-contact" id="contact-link">Contact</a>

				</div><!-- .wrap -->
			</nav>
		{% endblock %}

		{% block content %}{% endblock %}

		<footer id="footer">
			<div class="sub">
				<div class="wrap">
					<form action="{{ path_for('user.Mail') }}" method="POST" class="contact-form">
						<div class="row">
							<div class="col-6">
								<label for="contact-nom">Nom:</label>
								<input type="text" name="contact-name" id="contact-nom" />
							</div>
							<div class="col-6">
								<label for="contact-prenom">Mail:</label>
								<input type="text" name="contact-mail" id="contact-prenom" />
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="contact-sujet">Sujet:</label>
								<input type="text" name="contact-subject" id="contact-sujet" />
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="contact-message">Message:</label>
								<textarea name="contact-message" id="contact-message"></textarea>
							</div>
						</div>
						<button class="_btn" type="submit" name='contactUs'>Nous Contacter</button>
					</form>
				</div><!-- .wrap -->
			</div><!-- .sub -->
			<div class="down">
				<div class="wrap">
					<div class="row">
						<div class="col-12"><small>©Copyright 2017 | MagentaCorp | <a href="#">Wallonie</a></div>
					</div>
				</div><!-- .wrap -->
			</div><!-- .down -->
		</footer>

		<script src='{{ base_url() }}/assets/js/lib/owl.carousel.min.js'></script>
		<script src='{{ base_url() }}/assets/js/app.js'></script>
	</body>
</html>