
@media (max-width: 1500px){


	body{
		margin: 0 auto;
		width: 500px;
		background: blue;
		height: 100%;
	}
	#header{
		width: 100%;
		height: 600px;
		background: lightgray; 

	}
	h1{
		text-align: center;
		font-size: 60px;
		font-family: "recherche";
		color: #323433;
	}
	h2{
		text-align: center;
		font-size: 50px;

		font-family: "recherche";
		color: #323433;
	}

	.logo{
		height: 300px;
		width: 300px;
		background-color: yellow;
		margin: 0 auto;
		position: relative;
		top: 100px;
		display: block;
		text-indent: -9999px;
		background:url(../img/logo.svg) no-repeat center center;
		background-size: cover;
	}

	.cake{
		display: inline-block;
		text-decoration:none;
		background-color: #22B573;
		color: white; 
		border-radius: 25px;
		height: 60px;
		width: 200px;
		text-align: center; 
		line-height: 60px;
		position: relative;
		top: 200px;
		left: 10%;

		font-family: blenny, sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 50px;
	}
		.cake:hover{
			color: #22B573;
			background-color: white;
			    
			    -webkit-transition: all ease .2s;
                -moz-transition: all ease .2s;
                -ms-transition: all ease .2s;
                transition: all ease .2s;

		}
	.roses{
		display: inline-block;
		text-decoration:none;
		background-color: #C1272D;
		color: white;
		border-radius: 25px;
		height: 60px;
		width: 200px;
		text-align: center;
		line-height: 80px;
		position: relative;
		left:65%;
		top: 200px;
		font-family: "recherche";
		font-size: 55px;

	}
		.roses:hover{
			background-color: white;
			color: #C1272D;
			    
			    -webkit-transition: all ease .2s;
                -moz-transition: all ease .2s;
                -ms-transition: all ease .2s;
                transition: all ease .2s;
		}
	.admin{
		position: absolute;
		background-color: purple;
		display: block;
		height: 50px;
		width: 100px;
		text-align: center;
		line-height: 50px;
		top: 0;
		border-radius: 25px;color: white;
	}

	.info p, .description p{
		bottom: 40px;
		position: relative;
		width: 70%;
		margin: 0 auto;
		font-size: 20px;
		font-family: "lato";
		text-align: center;
		color: #323433;
	}

	form{
		width: 50%;
		top: 50px;
		position: relative;
		margin: 0 auto;
		background: #323433;
		height: 500px;
		border:20px;
	}

	label, input{
		font-family: "lato";
		color: lightgrey;
	}
	label{
		font-size: 25px;
		color: white;
	}
	footer{
		height: 650px;
		background-color: darkgrey;
	}
	footer p{

		position: relative;
		text-align: center;
		color: #323433;
	}
	textarea{
		resize: none;
	}
	/*.test{
		width: 100%;
		height: 2315px;
		position: absolute;
		background: orange;
		opacity: 0.2;
		margin: 0 auto;

	}*/
	.produit{
		width: 80%;
		background-color: purple;
		margin: 0 auto;
	}
	.tag{
		background: orange;
		margin: 0 auto;
		height: 50px;
		width: 60%;
	}
	.tag li{
		color: green;
		display: block;
		background-color: lightblue;
		position: relative;
		float: left;
		font-family: "lato";
		font-size: 15px;
		text-align: center;
		margin: 0 auto;
		width: 18%;
		height: 50px;
		line-height: 50px;
		margin-right: 5px;

	}
	.tag li a{
		color: brown;
		display: block;
		text-decoration: none;
		margin: 0 auto;
	}

	.tag li a:hover{
		border-bottom: 2px solid brown;
	}



	.img_produit{
		background: yellow;
		width: 60%;
		margin: 0 auto;
		height: 800px;
	}
	.img_big{
		top: 20px;
		position: relative;
		background-color:red;
		height: 520px;
		width: 100%;
		margin: 0 auto;

	}
	.img_small{
		position: relative;
		top: 50px;
		height: 140px;
		width: 18.67%;
		margin-right: 11px;
		background: pink;
		float: left;
	}
	.img_small:last-child{
	margin-right: 0;
	}

	input{
		width: 46%;
		height: 40px;
		margin: 12px 11px 0px 11px;
		border-radius: 5px;
		border-style: none;
		text-indent: 20px;
	}

	textarea{
		width: 96%;
		position: relative;
		display: block;
		height: 100px;
		margin: 0 auto;
		padding-top: 0px;
		top: 10px;
		line-height: 30px;
		border-radius: 5px;
		border-style: none;
		text-indent: 20px;
	}
	.sujet{
		width: 96%;
	}
	.btn_envoyer{
		position: relative;
		top: 30px;
		float: right;
		color: #323433;
	}
} /*END
 MEDIA QUERIES */


@media (max-width: 1500px){

	body{
		background: green;
	}


}
@media (max-width: 1400px){

	body{
		background: purple;
	}


}
@media (max-width: 1200px){

	body{
		background: red;
	}


}